.form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 15px;
}

@media(max-width: 768px) {
    .form {
        grid-template-columns: 1fr;
    }
}

.form__input {
    border: 1px solid #ddd;
    padding: 10px;
}

.form__button {
    color: white;
    background: teal;
    padding: 10px;
    border: none;
    border-radius: 5px;
    transition: 0.3s;
}

.form__button:hover {
    color: white;
    background: rgb(7, 194, 194);
    padding: 10px;
    border: none;
    border-radius: 5px;
    transform: scale(1.1);
}